<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- 1) Spring Boot 기본 설정 로드 -->
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <!-- 2) clr 변환기 등록 -->
    <conversionRule conversionWord="clr" class="org.springframework.boot.logging.logback.ColorConverter"/>

    <!-- 3) 외부 프로퍼티(필요 시) -->
    <springProperty name="LOG_LEVEL" source="logging.level.root" defaultValue="INFO"/>

    <property name="LOG_PATTERN"
              value="%d{yy-MM-dd HH:mm:ss.SSS} [%thread] %clr(%-5level) %-36logger{36} [%X{requestId} | %X{requestMethod} | %X{requestUri}] - %msg%n"/>
    <property name="LOG_FILE_PATH" value=".logs"/>
    <property name="LOG_FILE_NAME" value="application"/>

    <!-- 4) 콘솔 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- 5) 파일 -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_FILE_PATH}/${LOG_FILE_NAME}.log</file>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_FILE_PATH}/${LOG_FILE_NAME}.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <immediateFlush>true</immediateFlush>
    </appender>

    <!-- 6) 루트 로거에 레벨과 appender 등록 -->
    <root level="${LOG_LEVEL}">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>
</configuration>